*{
    margin: 0px;
    padding: 0px;
}
#exampleblock{
    display: inline;
    border: 2px solid #ffffffa2;
    width: 300px;
    height: 200px;
    background-color: black;
    color: blue;
}
#exampleinline{
    /* display: block; */
    display: inline-block;
    width: 100px;
    height: 200px;
    background-color: black;
    color: blue;
}