#grid{
    background-color: grey;
    display: grid;
    width: 100vw;
    height: 100vh;
    /* text-align: center; */
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    "h h"
    "m c"
    "f f";
}
#Header{
    background-color: blue;
    grid-area: h;
    /* grid-column: 1 / -1; */
}
#Menu{
    grid-area: m;
    background-color: red;
    
}
#content{
    grid-area: c;
    background-color: violet;
    
}
#Footer{
    grid-area: f;
    background-color: yellow;
    /* grid-column: 1 / -1; */
}
