#grid-1{
    display: grid;
    width: 500px;
    background-color: blue;
    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px; */

    /* grid-template-columns: 1fr 2fr 3fr; */
    /* grid-template-columns: 100px auto; */
    grid-template-columns: 100px auto repeat(10, 100px);
}