/* universal selector */
/* *{
    background-color: black;
    /* color: white; */
} */
/* Type selector
h1{
    text-align: center;
}  */
/* class selector */
.sumit{
    text-align: center;
    color: yellow;
    height: 300px;
    width: 400px;
}
.red{
    background-color: red;
    color: red;
}
.green{
    background-color: green;
    color: green;
}
.blue{
    background-color: blue;
    color: blue;
}
/* id selectors */
#ending{
    text-align: center;
    text-size-adjust: 30%;
    font-weight: 900;
    height: 600px;
    color: aliceblue;
}
/* Combinator selectors */
/* Desecendant Selector */
/* .mycontact p{
    color: red;
} */
/* Child Selector */
.mycontact>p{
    color: blueviolet;
}